.slide {
  margin-top: 20px;
  margin-bottom: 10px;
}

.scrolling-wrapper::-webkit-scrollbar {
  width: 0;
  height: 0;
  display: none;
}

.boxSlide {
  min-width: 100px;
  margin: 1px;
  padding: 10px;
}

.boxSlide a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boxSlide img {
  border-radius: 70px;
  width: 90px;
  height: auto;
}

.scrollingWrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  overflow-y: hidden;
}

.text {
  margin-top: 6px;
  color: #ffffff;
}

@media (max-width: 1024px) {
  .scrollingWrapper {
    overflow: scroll;
  }
}

.slide {
  display: flex;
  justify-content: center;
}