.modalWrapper {
    position: fixed;
    inset: 0;
    z-index: 50;
    display: flex;
    align-items: flex-end; 
    justify-content: center;
    font-family: 'Poppins', sans-serif;
    &.hidden {
      display: none;
    }
    @media (min-width: 640px) { 
      align-items: center; 
    }
  }
  
  .modalOverlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modalContent {
    position: relative;
    display: flex;
    flex-direction: column;
    background: #1a202c; 
    border: 0px;
    border-top-left-radius: 0.75rem;
    border-top-right-radius: 0.75rem;
    border: 2px solid #4a5568;
    border-bottom: 0px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg */
    transform: translateY(100%);
    transition: transform 0.5s ease-out; 
    width: 100%;
    max-width: 380px;
    padding: 1rem;
    &.translateY0 {
      transform: translateY(0);
    }
    @media (min-width: 640px) { 
      transform: translateY(0); 
      transition: none; 
      border: 2px solid #4a5568;
      border-radius: 0.75rem;
     
    }
  }
  